#placeholder .button {
  position: absolute;
  cursor: pointer;
  padding: 0px;
}
#placeholder div.button {
  font-size: smaller;
  color: #999;
  background-color: #eee;
  padding: 2px;
}
.message {
  padding-left: 50px;
  font-size: smaller;
}
